/* PHASE 5: Cats */
.content-header {
  position: relative; 
  height: 200px; 
  width: 900px;
  background-image: url('../images/cats.jpg');
  background-size: cover;
  border-bottom: 1px solid #ccc;
}

.content-header > h1 {
  position: absolute; 
  font-size: 36px; 
  text-shadow: #000 0 0 10px;
  color: #fff; 
  line-height: 1; 
  font-weight: 300;
  bottom: 20px;
  left: 240px;
}

.content-header > button {
  position: absolute; 
  bottom: 20px; 
  right: 20px; 
  color: #000;
  background : #fff;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px; 
}